# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
streamlit

# data science
numpy
pandas
scikit-learn
gensim
nltk
tensorflow
tensorflow_hub
tensorflow_text
tf-models-official
# tensorflow-macos==2.5.0 # macos silicon compatible version
# tensorflow-datasets


# tests/linter
black
coverage
flake8
pytest
yapf


# utilities
six>=1.14
termcolor
ipykernel==6.6.1  # for running jupyter notebooks in macos vscode
astroid==2.7.3    # for running jupyter notebooks in macos vscode
ipywidgets==7.6.5 # for running jupyter notebooks in macos vscode
