# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
streamlit

# data science
numpy
pandas
scikit-learn
gensim
nltk
tensorflow
tensorflow_hub
tensorflow_text
tf-models-official

# tests/linter
black
coverage
flake8
pytest
yapf


# utilities
six>=1.14
