/* Background Image */
header[data-testid="stHeader"] {
  background: url('https://raw.githubusercontent.com/sridhar211/NLPmoviereviews/master/images/popcorn.jpeg');
  height: 10.875rem
}
button[kind="header"] > svg {
  fill: white
}

.block-container {
  padding: 12rem 1rem 10rem
}

.appview-container {
  background: #fdd69c
}

@media (min-width: 576px) {
  .block-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Title */
.css-10trblm {
  position: relative;
  flex: 1 1 0%;
  margin-left: calc(3rem);
  color: rgb(37,104,104);
}

/* Text */
p, ol, ul, dl {
  margin: 0px 0px 1rem;
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
}

/* Review Text */
.st-bw {
  color: rgb(41,106,106);
}
